@model Osoby.Models.Osoba

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<h4>Osoba</h4>
<hr />
<div>    
    <form asp-action="DeleteOsoba" method="post">
        <div class="form-group">
            <label asp-for="OsobaId" class="control-label"></label>
            <input asp-for="OsobaId" class="form-control" type="number" />
            <span asp-validation-for="OsobaId" class="text-danger"></span>
        </div>
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
