@model Osoby.Models.Osoba

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<img src="/Images/1.jpg" alt="1" width="380" height="200" />

<p>Witaj na stronie głównej.</p>

<p>Tutaj znajdziesz informacje o naszej stronie.</p>
